<div class="textLayout">
  <h1>Decimal pipe y porcentaje</h1>
  <p>Pipes incluidos en Angular - usualmente en el common module</p>
</div>

<div class="grid">

  <div class="col-4">
    <p-card header="ventas netas"
    subheader="del presente año">
    <i class="pi pi-dollar"></i>
  {{ ventasNetas | number: '1.2-2' }}</p-card>
  </div>

  <div class="col-4">
    <p-card header="ventas netas"
    subheader="del presente año">
  {{ ventasNetas + 20000 | currency:'CAD':'symbol-narrow':'1.4-4'}}</p-card>
  </div>

  <div class="col-4">
    <p-card header="ganancia porcentual"
    subheader="del presente año">
  {{ porcentaje|percent:'2.2-2'}}</p-card>
  </div>

</div>
