<div class="textLayout">
  <h1>Pipes básicos</h1>
  <p>Pipes incluidos usualmente en el common module</p>
</div>

<div class="grid">

  <div class="col-4">
    <p-card header="uppercase"
    [subheader]="nombrelower |uppercase">
    {{ nombrelower|uppercase }}</p-card>
  </div>

  <div class="col-4">
    <p-card header="lowercase"
    [subheader]="nombreupper |lowercase">
    {{ nombreupper|lowercase }}</p-card>
  </div>

  <div class="col-4">
    <p-card header="titlecase"
    [subheader]="nombrecompleto |titlecase">
    {{ nombrecompleto|titlecase }}</p-card>
  </div>

</div>
<div class="textLayout">
  <h1>Date | Fecha | Pipe</h1>
  <p>Pipe para mostrar las fechas</p>
</div>

<div class="grid">

  <div class="col-6">
    <p-card>
      <ul>
        <li>  fecha </li>
        <li>  fecha | date </li>
        <li>  fecha | date:'short'</li>
        <li>  fecha | date:'long' </li>
        <li>  fecha | date:'MMMM' </li>
        <li>  fecha | date:'MMMM dd , yyyy' </li>
      </ul>

      <hr>

      <ul>
        <li> fecha | date:'long' : 'GMT-6' </li>
        <li> fecha | date:'long' : 'GMT-2' : 'fr' </li>
      </ul>
    </p-card>
  </div>

  <div class="col-6">
    <p-card> <ul>
        <li> {{ fecha }}</li>
        <li> {{ fecha | date }}</li>
        <li> {{ fecha | date:'short'}}</li>
        <li> {{ fecha | date:'long' }}</li>
        <li> {{ fecha | date:'MMMM' }}</li>
        <li> {{ fecha | date:'MMMM dd , yyyy' }}</li>

    </ul>

    <hr>

    <ul>
      <li> {{ fecha | date:'long' : 'GMT-6' }}</li>
      <li> {{ fecha | date:'long' : 'GMT-2' : 'fr' }}</li>

    </ul>
  </p-card>
  </div>
